body {
	--bs-body-font-family: "Oswald", sans-serif;
}

/**
COLORS
**/
html {
	--bs-primary: #51524A !important;
	--bs-primary-rgb: 81, 82, 74 !important;

	--bs-tertiary-bg: #D9D9D9 !important;
	--bs-tertiary-bg-rgb: 217, 217, 217 !important;

	--bs-secondary: #3A2A2C !important;
	--bs-secondary-rgb: 58, 42, 44 !important;

	--bs-light: #D4D0CB !important;
	--bs-light-rgb: 212, 208, 203 !important;

	--bs-danger: #A0616A !important;
	--bs-danger-rgb: 160, 97, 106 !important;
	--bs-danger-dark: #7A464E;

	--bs-form-invalid-color: var(--bs-danger);
	--bs-form-invalid-border-color: var(--bs-danger);
}


/**
TYPOGRAPHY
**/
.font-script {
	font-family: Original Surfer;
}

/**
BUTTONS
**/
.btn-arrow .fa-arrow-icon {
	right: -2rem;
	color: var(--bs-btn-border-color);
}

.btn-arrow::before {
	background-color: var(--bs-btn-bg);
}

.btn-arrow:hover::before {
	background-color: var(--bs-btn-hover-bg);
}

.btn-arrow[class*="btn-outline"]::before {
	background-color: var(--bs-btn-border-color);
}

.btn-arrow[class*="btn-outline"]:hover::before {
	background-color: var(--bs-btn-hover-border-color);
}


.btn-arrow::before {
	content: '';
	width: 100%;
	position: absolute;
	height: 2px;
	right: -1.8rem;
	transform: translateY(-50%);
	top: 50%;
	transition: all .15s ease-in-out;
	z-index: -1;
}

.btn-arrow[class*="btn-outline"] {
	z-index: 0;
}

.btn-danger {
	--bs-btn-bg: var(--bs-danger);
	--bs-btn-border-color: var(--bs-danger);
	--bs-btn-hover-bg: var(--bs-danger-dark);
	--bs-btn-hover-border-color: var(--bs-danger-dark);
	--bs-btn-focus-shadow-rgb: 225, 83, 97;
	--bs-btn-active-bg: var(--bs-danger);
	--bs-btn-active-border-color: var(--bs-danger);
	--bs-btn-disabled-bg: var(--bs-danger);
	--bs-btn-disabled-border-color: var(--bs-danger);
}

.btn-outline-primary {
	--bs-btn-color: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);
	--bs-btn-hover-bg: var(--bs-primary);
	--bs-btn-hover-border-color: var(--bs-primary);
	--bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
	--bs-btn-active-bg: var(--bs-primary);
	--bs-btn-active-border-color: var(--bs-primary);
	--bs-btn-disabled-color: var(--bs-primary);
	--bs-btn-disabled-border-color: var(--bs-primary);
}

.btn-outline-light {
	--bs-btn-color: var(--bs-light);
	--bs-btn-border-color: var(--bs-light);
	--bs-btn-hover-bg: var(--bs-light);
	--bs-btn-hover-border-color: var(--bs-light);
	--bs-btn-focus-shadow-rgb: var(--bs-light-rgb);
	--bs-btn-active-bg: var(--bs-light);
	--bs-btn-active-border-color: var(--bs-light);
	--bs-btn-disabled-color: var(--bs-light);
	--bs-btn-disabled-border-color: var(--bs-light);
}

.btn-primary {
	--bs-btn-color: var(--bs-light);
	--bs-btn-bg: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);
	--bs-btn-hover-color: var(--bs-light);
	--bs-btn-hover-bg: var(--bs-primary);
	--bs-btn-hover-border-color: var(--bs-primary);
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
	--bs-btn-active-color: var(--bs-light);
	--bs-btn-active-bg: var(--bs-primary);
	--bs-btn-active-border-color: var(--bs-primary);
	--bs-btn-disabled-color: var(--bs-light);
	--bs-btn-disabled-bg: var(--bs-primary);
	--bs-btn-disabled-border-color: var(--bs-primary);
}

.btn-secondary {
	--bs-btn-color: var(--bs-light);
	--bs-btn-bg: var(--bs-secondary);
	--bs-btn-border-color: var(--bs-secondary);
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: var(--bs-secondary);
	--bs-btn-hover-border-color: var(--bs-secondary);
	--bs-btn-focus-shadow-rgb: 130, 138, 145;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: var(--bs-secondary);
	--bs-btn-active-border-color: var(--bs-secondary);
	--bs-btn-disabled-color: var(--bs-light);
}


/**
NAVBAR
**/
.navbar-brand {
	--bs-navbar-brand-font-size: 1.5rem;
}

/**
TRANSITIONS
**/
.ease {
	transition: all .3s ease-in;
}

/**
CONTENT
**/
.dynamic-text {
	transition: opacity 0.5s ease-in-out;
}

.bg-img {
	transition: background-image 0.5s ease-in-out;
	background-size: cover;
}

.bg-img::before {
	content: '';
	position: absolute;
	min-height: 100%;
	width: 100%;
	z-index: -1;
}

.bg-img.bg-primary-img::before {
	background-color: rgba(var(--bs-primary-rgb), 0.9);
}

.bg-img.bg-light-img::before {
	background-color: rgba(var(--bs-light-rgb), 0.9);
}

/**
FORM
**/
.form-control {
	color: inherit !important;
}

.form-control::placeholder {
	color: inherit !important;
	opacity: 0.5;
}

*:not(textarea).form-control {
	height: 3.5rem;
}

.form-label {
	left: 2rem;
	top: -0.5rem;
}

textarea {
	resize: none !important;
	height: 7rem !important;
}

.floating-group .form-control {
	padding-left: 5rem !important;
}

.floating-select {
	appearance: none;
	text-indent: 1px;
}

select::-ms-expand {
	display: none;
}

.text-primary .form-control::placeholder {
	color: var(--bs-primary-light);
}

.form-error:empty {
	display: none;
}

.bg-light .form-label {
	background-color: var(--bs-light);
}

.bg-secondary .form-label {
	background-color: var(--bs-secondary);
}

.bg-primary .form-label {
	background-color: var(--bs-primary);
}

.password-switch {
	top: 0.7rem;
}

.password-switch::before {
	content: '';
	width: 1px;
	height: 0;
	background-color: currentColor;
	position: absolute;
	transition: .2s ease-out;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}

.password-switch.active::before {
	min-height: 100%;
}

.form-control.is-invalid {
	border-color: var(--bs-danger) !important;
}

/** NAVBAR **/
#navbar {
	--bs-nav-link-font-size: 1.5rem;
	--bs-nav-link-font-weight: lighter;
	--bs-navbar-color: #fff;
	--bs-navbar-hover-color: var(--bs-light);
	--bs-navbar-active-color: var(--bs-light);
}

#navbar .nav-link::before {
	content: '';
	position: absolute;
	transition: all .3s ease;
	background-color: var(--bs-light);
}