body {
	--bs-body-font-family: "Oswald", sans-serif;
}

/**
COLORS
**/
html {
	--bs-primary: #51524A !important;
	--bs-primary-rgb: 81, 82, 74 !important;
	--bs-primary-light: #97998F;
	--bs-primary-dark: var(--bs-primary);

	--bs-secondary: #D4D0CB !important;
	--bs-secondary-rgb: 212, 208, 203 !important;

	--bs-danger: #A0616A !important;
	--bs-danger-rgb: 160, 97, 106 !important;

	--bs-form-invalid-color: var(--bs-danger);
	--bs-form-invalid-border-color: var(--bs-danger);
}


/**
TYPOGRAPHY
**/
.font-script {
	font-family: Original Surfer;
}

/**
BUTTONS
**/
.btn-arrow .fa-arrow-icon {
	right: -2rem;
}

.btn-arrow:hover:before {
	background-color: var(--bs-btn-hover-color);
}

.btn-arrow::before {
	content: '';
	width: 100%;
	position: absolute;
	height: 2px;
	background-color: var(--bs-btn-color);
	right: -1.8rem;
	transform: translateY(-50%);
	top: 50%;
	transition: all .15s ease-in-out;
}

.btn-primary.btn-arrow::before {
	background-color: var(--bs-primary);
	z-index: -1;
}

.btn-danger {
	--bs-btn-bg: var(--bs-danger);
	--bs-btn-border-color: var(--bs-danger);
	--bs-btn-hover-bg: #c25e66;
	--bs-btn-hover-border-color: #c25e66;
	--bs-btn-focus-shadow-rgb: 225, 83, 97;
	--bs-btn-active-bg: var(--bs-danger);
	--bs-btn-active-border-color: var(--bs-danger);
	--bs-btn-disabled-bg: var(--bs-danger);
	--bs-btn-disabled-border-color: var(--bs-danger);
}

.btn-outline-primary {
	--bs-btn-color: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);
	--bs-btn-hover-bg: var(--bs-primary);
	--bs-btn-hover-border-color: var(--bs-primary);
	--bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
	--bs-btn-active-bg: var(--bs-primary);
	--bs-btn-active-border-color: var(--bs-primary);
	--bs-btn-disabled-color: var(--bs-primary);
	--bs-btn-disabled-border-color: var(--bs-primary);
}

.btn-primary {
	--bs-btn-color: var(--bs-secondary);
	--bs-btn-bg: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);
	--bs-btn-hover-color: var(--bs-secondary);
	--bs-btn-hover-bg: var(--bs-primary-dark);
	--bs-btn-hover-border-color: var(--bs-primary-dark);
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
	--bs-btn-active-color: var(--bs-secondary);
	--bs-btn-active-bg: var(--bs-primary-dark);
	--bs-btn-active-border-color: var(--bs-primary-dark);
	--bs-btn-disabled-color: var(--bs-secondary);
	--bs-btn-disabled-bg: var(--bs-primary-light);
	--bs-btn-disabled-border-color: var(--bs-primary-light);
}


/**
NAVBAR
**/
.navbar-brand {
	--bs-navbar-brand-font-size: 1.5rem;
}

/**
TRANSITIONS
**/
.ease {
	transition: all .3s ease-in;
}

/**
CONTENT
**/
.dynamic-text {
	transition: opacity 0.5s ease-in-out;
}

.bg-img {
	transition: background-image 0.5s ease-in-out;
	background-size: cover;
}

.bg-img::before {
	content: '';
	position: absolute;
	min-height: 100%;
	width: 100%;
	z-index: -1;
}

.bg-img.bg-primary-img::before {
	background-color: rgba(var(--bs-primary-rgb), 0.9);
}

.bg-img.bg-secondary-img::before {
	background-color: rgba(var(--bs-secondary-rgb), 0.9);
}

/**
FORM
**/
.form-control {
	color: inherit !important;
}

*:not(textarea).form-control {
	height: 3.5rem;
}

.form-label {
	left: 2rem;
	top: -0.5rem;
}

textarea {
	resize: none !important;
	height: 7rem !important;
}

.floating-group .form-control {
	padding-left: 5rem !important;
}

.floating-select {
	appearance: none;
	text-indent: 1px;
}

select::-ms-expand {
	display: none;
}

.text-primary .form-control::placeholder {
	color: var(--bs-primary-light);
}

.form-error:empty {
	display: none;
}

.bg-secondary .form-label {
	background-color: var(--bs-secondary);
}

.bg-primary .form-label {
	background-color: var(--bs-primary);
}

.password-switch {
	top: 0.7rem;
}

.password-switch::before {
	content: '';
	width: 1px;
	height: 0;
	background-color: currentColor;
	position: absolute;
	transition: .2s ease-out;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}

.password-switch.active::before {
	min-height: 100%;
}

.form-control.is-invalid {
	border-color: var(--bs-danger) !important;
}